<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Usuário</mat-label>
    <input matInput placeholder="Ex. Nome">
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'">
    <button class="button-password" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword">
      <fa-icon [icon]="hidePassword ? faEyeSlash : faEye"></fa-icon>
    </button>
  </mat-form-field>
</div>